github "socketio/socket.io-client-swift" ~> 8.3.3
github "SnapKit/SnapKit" ~> 3.2.0
github "Hearst-DD/ObjectMapper" ~> 2.2
github "ReactiveX/RxSwift" ~> 3.0
github "teodorpatras/EasyTipView"
github "rs/SDWebImage"
github "cesarferreira/SwiftEventBus" == 2.2.0
github "Alamofire/Alamofire" ~> 4.4
github "hyperoslo/Lightbox"
github "ninjaprox/NVActivityIndicatorView"
github "Flipboard/FLAnimatedImage"
zip "https://github.com/crisp-im/crisp-sdk-ios/blob/master/framework.json" ~> 1.0.10
